body {
    font-family: Arial;
    width: 500px;
    margin: auto;
    padding-top: 20px;
}

form, table {
    width: 100%;
    margin-top: 20px;
}

input, select, button {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
}

table {
    border-collapse: collapse;
}

th, td {
    border: 1px solid #999;
    padding: 10px;
}

.msg {
    background: #ffd;
    padding: 10px;
    border: 1px solid #aa0;
}
